:host {
  display: flex;
  margin: 0.75rem;
}

.branding,
.branding:hover {
  display: flex;
  flex-direction: row;
  align-items: normal;
  position: relative;
  top: 2px;
  margin: 0;
  user-select: none;
  white-space: nowrap;
}

@import '../../../../styles/variables.scss';

.ups-logo {
  position: relative;
  top: -2px;
}

.branding__logo {
  position: relative;
  top: -4px;
}
